@media only screen and (max-width: 400px) {
  .about-info {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
  }
  .about-info-header,
  .about-info-content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 0 1rem;
  }
}
