@media screen and (max-width: 450px) {
  .navbar {
    position: relative;
  }

  .hamburger {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 2.5rem;
    padding: 1rem;
    display: block;
  }

  .nav-list {
    position: absolute;
    padding-top: 1rem;
    left: -300px;
    top: 55px;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: var(--primary);
    z-index: 3;
    transition: all 0.5s ease-in-out;
  }
  .nav-item {
    padding: 0.5rem;
  }

  .nav-item:not(:last-child) {
    border-bottom: 1px solid var(--light);
  }

  /* Showcase */
  #showcase {
    height: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0;
  }

  /* About */

  #about .image {
    display: none;
  }

  #about .content {
    text-align: center;
  }

  #about .content p {
    text-align: justify;
  }
}
