@media screen and (max-width: 970px) {
  .content-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    padding: 3rem;
  }

  #nav-brand {
    display: none;
  }

  .navbar ul li a {
    font-size: 1.6rem;
  }

  .home-cards img {
    padding: 1rem 0;
    width: 50vw;
    margin: 2rem 0;
  }

  .home-cards p {
    text-align: justify;
  }

  .home-cards h2 {
    text-align: center;
  }

  .about-content {
    flex-direction: column-reverse;
  }

  .skill-content {
    flex-direction: column-reverse;
  }

  .home-project-content {
    flex-direction: column-reverse;
  }

  .home-blog-content {
    flex-direction: column-reverse;
  }

  .button {
    margin: 1rem 0;
  }

  .contact-content {
    flex-direction: column-reverse;
  }

  .content-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 280px) {
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    margin: 0.8rem 0;
  }
}
