:root {
  --primary: #059669;
  --light: #fbfbfb;
  --dark: #262626;
  --gray: #6b7280;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Core Tags */

html {
  font-size: 62.5%;
  background-color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  width: auto;
  max-width: 100vw;
}

/* Global */
.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.home-cards {
  border: 1px solid var(--primary);
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem;
}

.home-cards p,
.home-cards img {
  flex-basis: 1;
}

.home-cards p {
  font-size: 1.5rem;
  text-align: justify;
  padding: 0 1rem;
}

.home-cards img {
  width: 10vw;
  margin: 0 3rem;
}

.home-cards h2 {
  font-size: 2.8rem;
  text-align: center;
  padding: 1rem 0;
}

.button {
  border: 1px solid var(--primary);
  padding: 1rem;
  color: var(--primary);
  font-size: 1.3rem;
}

.button:hover {
  color: var(--light);
  background-color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.content-with-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navigation */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 2rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 0 1rem;
}

.navbar ul li a {
  color: var(--light);
  font-size: 1.4rem;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.5rem;
}

#nav-brand {
  font-size: 2rem;
  color: var(--light);
  font-weight: bold;
}

.navbar ul li a.active {
  font-weight: bold;
}

/* Showcase */
.showcase {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.showcase-content h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

.colored-text {
  color: var(--primary);
}

/* Info Section */
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About */

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Skills */

.skill-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

/* Home Projects */

.home-project-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Blogs */

.home-blog-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact Content */

