:root {
  --primary: #26a69a;
  --light: #fbfbfb;
  --dark: #262626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Core Tags */

html {
  font-size: 62.5%;
  font-size: 1rem;
  background-color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

/* Global */

.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.colored-text {
  color: var(--primary);
}

.btn {
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 1rem;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.2s ease-in-out;
}

/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.nav-list {
  flex: 1;
  flex-grow: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary);
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
  color: var(--primary);
}

/* Showcase */
#showcase {
  margin-top: 10rem;
  height: 100vh;
}

#showcase h1 {
  font-size: 2rem;
  margin: 3rem 0;
}

#showcase .colored-text {
  font-size: 3rem;
}

#showcase h4 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

/* About */

/* Social Icons */
.social-icon {
  font-size: 2rem;
  color: var(--primary);
}

.social-icon .github:hover {
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}
