@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$black: #262626;
$white: #fbfbfb;
$teal: #26a69a;
$light-teal: #e0f2f1;
$grey: #666;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: $white;
}

/* Base Tags */

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}
