@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './config';
@import './menu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.2%;
  overflow: hidden;
}

body {
  @include background;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background: $grey;
  color: $white;
  overflow: hidden;
}

/* Base Tags */

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: $white;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2 {
  font-weight: 400;

  &.lg-heading {
    font-size: 8rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $teal;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $teal;
        @include easeOut;
      }
    }
  }

  &#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
}
