@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One:wght@100;300;400;500;700&display=swap');

:root {
  --primaryColor: #00adb5;
  --secondaryColor: #393e46;
  --white: #eeeeee;
  --dark: #222831;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--white);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.heading-wrapper h1 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}
