@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Utilities */

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--light);
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu-button {
  display: none;
}

.nav-header {
  font-size: 2rem;
}

.nav-link {
  transition: color 0.3s linear;
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1rem;
  }

  .nav-header {
    font-size: 1.8rem;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: -1;
    background-color: var(--primary);
    width: 100%;
    left: 0;
    transform: translateY(-700px);
    transition: all 0.5s linear;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .nav-menu-button {
    display: block;
    color: var(--primary);
  }

  .nav-menu.show {
    transform: translateY(50px);
    transition: all 0.2s linear;
  }

  .nav-link {
    font-size: 1.5rem;
  }
}
