:root {
  --dark: #222831;
  --grey: #393e46;
  --primary: #00695c;
  --light: #eeeeee;
}

/* Tag Styles */

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* Lists */
ul.style-type-none {
  list-style-type: none;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary * {
  color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-dark * {
  color: var(--light);
}

/* Font Size */
.font-sm {
  font-size: 0.8rem;
}

/* Flex */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* Display */
.hidden {
  display: none;
}

.show {
  display: block;
}

/* Border */
.border-bottom-left-radius {
  border-bottom-left-radius: 20px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 20px;
}

.border-bottom-both {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
